<!-- About Section -->
<section class="bg-[#F8F8F8] py-12 mt-12">
	<div class="container mx-auto px-4">
		<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
			<!-- Header -->

			<!-- Information Cards -->
			<div class="space-y-6">
				<div class="text-left mb-12">
					<h3 class="text-sm text-primary uppercase font-semibold">About Incep</h3>
					<h2 class="text-darkBlue text-4xl lg:leading-[50px] font-redhat font-bold mt-2 mb-10">Life Insurance That Creates Wealth For Everyone</h2>
				</div>
				<!-- Card 1 -->
				<div class="flex items-start p-8 bg-white rounded-lg shadow-[rgba(17,_17,_26,_0.1)_0px_0px_8px]">
					<i class="flaticon-insurance-3 text-primary text-4xl mr-4 p-4 bg-lightGreen rounded-full"></i>
					<div>
						<h4 class="text-xl font-semibold text-darkBlue">Trusted By Thousand</h4>
						<p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed sit amet, consectetur adipiscing.</p>
					</div>
				</div>

				<!-- Card 2 -->
				<div class="flex items-start p-6 bg-white rounded-lg shadow-[rgba(17,_17,_26,_0.1)_0px_0px_8px]">
					<i class="flaticon-insurance-4 text-primary text-4xl mr-4 p-4 bg-lightGreen rounded-full"></i>
					<div>
						<h4 class="text-xl font-semibold text-darkBlue">Set For Life</h4>
						<p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed sit amet, consectetur adipiscing.</p>
					</div>
				</div>

				<!-- Card 3 -->
				<div class="flex items-start p-6 bg-white rounded-lg shadow-[rgba(17,_17,_26,_0.1)_0px_0px_8px]">
					<i class="flaticon-life-insurance text-primary text-4xl mr-4 p-4 bg-lightGreen rounded-full"></i>
					<div>
						<h4 class="text-xl font-semibold text-darkBlue">Protective Insurance</h4>
						<p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed sit amet, consectetur adipiscing.</p>
					</div>
				</div>
			</div>

			<!-- Images Section -->
			<div class="w-2/3 lg:w-3/4 mx-auto">
				<!-- Adjust width here -->
				<div class="grid grid-cols-2 gap-4">
					<img src="assets/about/about-1.jpg" alt="Image" class="rounded-lg shadow-lg w-full h-full object-cover" />
					<img src="assets/about/about-2.jpg" alt="Image" class="rounded-lg shadow-lg w-full h-full object-cover row-span-2" />
					<img src="assets/about/about-3.jpg" alt="Image" class="rounded-lg shadow-lg w-full h-full object-cover" />
				</div>
			</div>
		</div>
	</div>
</section>
