<section class="bg-lightGreen relative z-0 max-w-[100%]">
	<div class="max-w-[500px] md:max-w-[700px] lg:max-w-[100%] lg:flex-row flex flex-col items-center justify-center pt-16 mx-auto text-center lg:text-start lg:mx-4 z-20 lg:justify-between">
		<div class="flex flex-col items-center justify-center lg:justify-start lg:items-start lg:w-[50%] z-30">
			<h1 class="text-darkBlue text-3xl font-bold font-redhat pb-3 lg:text-[60px] lg:leading-[72px] lg:w-[90%%]">
				Take The Worry Out Of Life With
				<span class="text-primary">Insurance</span>
				Protection
			</h1>
			<p class="text-gray font-opensans pb-6 text-[15px] lg:text-[20px]">When you buy insurance from us, you get more than just financial safety. You also get: our promise of simplifying complex insurance terms and conditions, quick stress-free claims, instant quotes from top insurers and being present for you in the toughest of times.</p>
			<div class="flex font-opensans font-semibold pb-10">
				<button class="h-10 w-32 bg-primary text-white flex justify-center items-center rounded-sm text-sm hover:bg-darkGray">
					<span class="mr-2">
						<img src="./assets/hero/right-arrow.svg" alt="right-arrow" />
					</span>
					Get Started
				</button>
				<button class="h-10 w-32 ml-6 bg-lightGreen text-primary border border-primary flex justify-center items-center rounded-sm text-sm hover:bg-darkGray hover:text-white">
					<span class="mr-2">
						<img src="./assets/hero/send.svg" alt="send" />
					</span>
					Contact Us
				</button>
			</div>
		</div>

		<div class="relative flex justify-center">
			<img src="./assets/hero/banner-img.png" alt="father daughter" class="mx-auto w-[400px] md:w-[500px] lg:w-[600px] z-30" />
			<img src="./assets/hero/banner-img-shape.png" alt="" class="absolute inset-0 mx-auto w-[500px] md:w-[600px] lg:w-[700px] z-20" />
		</div>
		<div class="absolute bottom-0 z-40 mx-0 px-0">
			<img src="./assets/hero/bottom-shape.png" alt="" />
		</div>
	</div>

	<!--Background shapes-->
	<div class="hidden md:block md:absolute z-10 right-0 top-0 mt-[200px]">
		<img src="./assets/hero/shape-2.png" alt="shape" />
	</div>
	<div class="hidden lg:block lg:absolute z-0 right-56 top-20 bottom-20 opacity-20">
		<img src="./assets/hero/shape-1.png" alt="shape" />
	</div>
	<div class="block absolute z-0 left-0 top-20 bottom-20">
		<img src="./assets/hero/shape-5.png" alt="shape" />
	</div>
	<div class="hidden lg:block lg:absolute z-0 left-96 bottom-20">
		<img src="./assets/hero/shape-3.png" alt="shape" />
	</div>
	<div class="hidden lg:block lg:absolute z-0 left-44 top-20">
		<img src="./assets/hero/shape-6.png" alt="shape" />
	</div>
	<div class="hidden sm:block sm:absolute z-0 left-10 bottom-10">
		<img src="./assets/hero/shape-4.png" alt="shape" />
	</div>
</section>
