:host {
	display: contents;
}

/* Optional: Add custom scrollbar styles */
nav::-webkit-scrollbar {
	width: 4px;
}

nav::-webkit-scrollbar-track {
	background: #f1f1f1;
}

nav::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
}

nav::-webkit-scrollbar-thumb:hover {
	background: #555;
}
