<div class="py-12 bg-white">
	<div class="px-4 sm:px-6 lg:px-8">
		<!-- Section Header -->
		<div class="text-center mb-10">
			<h4 class="text-primary text-sm uppercase">Our Features</h4>
			<h2 class="text-darkBlue text-3xl lg:text-[40px] lg:w-[45%] lg:leading-[50px] mx-auto font-redhat font-bold mt-2 mb-20">Better Digital Insurance Begins Right Here</h2>
		</div>

		<!-- Feature Cards -->
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
			<!-- Card 1 -->
			<div class="bg-white p-6 rounded-lg shadow-[rgba(17,_17,_26,_0.1)_0px_0px_8px] transition duration-300">
				<div class="w-16 h-16 mb-4 relative text-primary">
					<i class="flaticon-money-back text-7xl"></i>
				</div>
				<h3 class="text-darkGray font-bold text-[22px] my-4">Money Back Guarantee</h3>
				<p class="text-gray font-opensans text-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed.</p>
			</div>

			<!-- Card 2 -->
			<div class="bg-white p-6 rounded-lg shadow-[rgba(17,_17,_26,_0.1)_0px_0px_8px] transition duration-300">
				<div class="w-16 h-16 mb-4 relative text-primary">
					<i class="flaticon-claim text-7xl"></i>
				</div>
				<h3 class="text-darkGray font-bold text-[22px] my-4">All Claims At Anytime</h3>
				<p class="text-gray font-opensans text-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed.</p>
			</div>

			<!-- Card 3 -->
			<div class="bg-white p-6 rounded-lg shadow-[rgba(17,_17,_26,_0.1)_0px_0px_8px] transition duration-300">
				<div class="w-16 h-16 mb-4 relative text-primary">
					<i class="flaticon-insurance-policy text-7xl"></i>
				</div>
				<h3 class="text-darkGray font-bold text-[22px] my-4">Digital Insurance Policy</h3>
				<p class="text-gray font-opensans text-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed.</p>
			</div>

			<!-- Card 4 -->
			<div class="bg-white p-6 rounded-lg shadow-[rgba(17,_17,_26,_0.1)_0px_0px_8px] transition duration-300">
				<div class="w-16 h-16 mb-4 relative text-primary">
					<i class="flaticon-mobile-payment text-7xl"></i>
				</div>
				<h3 class="text-darkGray font-bold text-[22px] my-4">Direct Payment App</h3>
				<p class="text-gray font-opensans text-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed.</p>
			</div>
		</div>
	</div>
</div>
