<!-- Reviews Section Container -->
<div class="relative bg-teal min-h-[600px] py-16 px-4 sm:px-6 lg:px-8 overflow-hidden z-10">
	<div class="max-w-7xl mx-auto relative flex flex-col items-center lg:items-start lg:flex-row">
		<!-- Left Column Images -->
		<div class="w-full lg:w-2/3 grid grid-cols-1 lg:grid-cols-2 gap-3 lg:gap-5 max-w-xl">
			<!-- Review Cards -->
			<div class="bg-white rounded-lg p-4 shadow-md lg:col-span-2">
				<div class="flex flex-col">
					<div class="flex flex-col items-center mb-2">
						<img src="assets/review/image1.png" alt="" class="w-12 h-12 rounded-full" />
					</div>
					<div class="flex mb-1 justify-center">
						<i class="ri-star-fill text-yellow-400"></i>
						<i class="ri-star-fill text-yellow-400"></i>
						<i class="ri-star-fill text-yellow-400"></i>
						<i class="ri-star-fill text-yellow-400"></i>
						<i class="ri-star-fill text-yellow-400"></i>
					</div>
					<h3 class="text-xl font-semibold mb-1 text-center">Manika Selven</h3>
					<p class="text-teal-600 text-sm mb-3 text-center">Marketing Ex.</p>
					<p class="text-gray text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>

			<div class="bg-white rounded-lg p-4 shadow-md">
				<div class="flex flex-col">
					<div class="flex flex-col items-center mb-2">
						<img src="assets/review/image2.webp" alt="" class="w-12 h-12 rounded-full" />
					</div>
					<div class="flex mb-1 justify-center">
						<i class="ri-star-fill text-yellow-400"></i>
						<i class="ri-star-fill text-yellow-400"></i>
						<i class="ri-star-fill text-yellow-400"></i>
						<i class="ri-star-fill text-yellow-400"></i>
						<i class="ri-star-fill text-yellow-400"></i>
					</div>
					<h3 class="text-xl font-semibold mb-1 text-center">Jhun Selven</h3>
					<p class="text-teal-600 text-sm mb-3 text-center">Marketing Ex.</p>
					<p class="text-gray text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>

			<div class="bg-white rounded-lg p-4 shadow-md">
				<div class="flex flex-col items-center justify-center lg:mt-24">
					<div class="flex mb-1 justify-center">
						<i class="ri-star-fill text-yellow-400"></i>
						<i class="ri-star-fill text-yellow-400"></i>
						<i class="ri-star-fill text-yellow-400"></i>
						<i class="ri-star-fill text-yellow-400"></i>
						<i class="ri-star-fill text-yellow-400"></i>
					</div>
					<p class="text-gray text-center">Average 4.6 from 1200+ reviews of our customers.</p>
				</div>
			</div>
		</div>

		<!-- Right Column Text -->
		<div class="w-full lg:ml-12 lg:w-1/2 p-8 text-white flex flex-col items-center lg:items-start justify-center lg:pt-[180px]">
			<p class="text-sm uppercase font-light tracking-wider mb-2 text-center lg:text-left">OUR REVIEW</p>
			<h2 class="text-4xl font-semibold mb-6 text-center lg:text-left">What they say about us honest reviews</h2>
			<p class="mb-8 text-white text-sm font-light text-center lg:text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus</p>
			<button class="h-14 w-36 bg-primary text-white flex justify-center items-center rounded-sm text-sm hover:bg-black">
				View More
				<svg class="w-5 h-5 ml-2 group-hover:translate-x-1 transition-transform" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14 5l7 7m0 0l-7 7m7-7H3" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
				</svg>
			</button>
		</div>
	</div>

	<!-- Decorative Elements -->
	<img src="assets/hero/shape-3.png" alt="" class="absolute top-20 right-40 w-12 z-[0]" />
	<img src="assets/hero/shape-2.png" alt="" class="absolute bottom-20 right-40 w-20" />
</div>
